@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");
.navbar.fixed-top {
  background: rgba(133, 121, 121, 0.466);
  height: 70px;
}
.navbar-brand {
  width: 60px !important;
  height: 60px !important;
  background-image: url("../assets/coin.svg");
  background-repeat: no-repeat;
  /* color: rgb(0, 0, 0) !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; */
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../assets/hamburger.png");
}
.nav-item {
  font-size: 20px;
  color: white !important;
}
.nav-link {
  color: black !important;
  font-family: "Montserrat", sans-serif;
  padding-right: 50px !important;
  cursor: default;
}
.nav-link::after {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}
